<h1></h1>

<div class="container">
    <div class="card text-center">
            <div class="card-header">
                <%= @user.username %>
            </div>
            <div class="card-body">
                <p class="card-text"><%= @user.email %></p>
                <% if current_user.id == @user.id %>
                    <%= link_to 'Edit', edit_user_registration_path(@user), class: 'btn btn-outline-success' %>
                <% end %>
                <%= link_to 'Go to all AlphaBloggers', users_path, class: 'btn btn-outline-info' %>
            </div>
            <div class="card-footer text-body-secondary">
                Joined <%= time_ago_in_words(@user.created_at) %>
            </div>
    </div>

    

    <% if @user.articles.any? %>
        <h1>Alphablogs</h1>
        <% @user.articles.each do |article| %>
            <div class="card text-center">
                <div class="card-header">
                    by <%= article.user.username %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= article.title %></h5>
                    <p class="card-text"><%= article.description %></p>
                    <%= link_to 'View', article_path(article), class: 'btn btn-outline-success' %>
                    <% if current_user.id == article.user.id %>
                        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-outline-info' %>
                        <%= link_to 'Delete', article_path(article), class: 'btn btn-outline-danger', data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                    <% end %>
                </div>
                <div class="card-footer text-body-secondary">
                    created_at <%= time_ago_in_words(article.created_at) %>, updated_at <%= time_ago_in_words(article.updated_at) %>
                </div>
            </div>
        <% end %>
    <% else %>
        <h2>No blogs yet</h2>
    <% end %>

</div>